*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background-color: lightgrey;
}

.banner{
    background-image: url(../images/cricket_banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* margin: 20px 10px; */
    /* border-radius: 10px; */
    font-family: 'Noto Serif', serif;
    /* margin-bottom: 50px; */
    
}

.banner p{
    font-size: 5rem;
    color: white;
    margin: 10px 10px;
    text-shadow: 10px 10px 12px black;
    /* -webkit-text-stroke: 2px black; */

    overflow: hidden;
     /* Ensures the content is not revealed until the animation */
  border-right: .15em solid coral;
   /* The typwriter cursor */
  /* white-space: wrap; */
   /* Keeps the content on a single line */
  margin: 5px 5px; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .01em; /* Adjust as needed */
  /* line-break: loose; */
  animation: 
    typing 4s 
    steps(200, end),
    blink-caret .75s step-end infinite;
    
}

@keyframes typing {
    from { width: 60% }
    to { width: 90% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from,to{ border-color:transparent }
    50% { border-color: transparent; }
    
  }


.banner p.secondary{
    font-size: 2.5rem;
    color: black;
    
}

.middle{
    background-color: coral;
    color: black;
    display: flex;
    align-items: center;
    height: 10vh;
    justify-content: center;
    font-size: 2rem;
    text-align: center;
    /* border: 2px solid black; */
    /* text-shadow: 5px 5px 5px grey; */
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin: 20px 20px;
    padding: 20px 20px;
    margin-bottom: 40px;


    /* display: none; */


}

.middle span{
    font-size: 2rem;
    color: black;
    font-family: 'Noto Serif', serif;
    -webkit-text-stroke: .5px grey;
}
.feature{
    /* display: grid;
    grid-template: 'div-1 div-1 div-2'
    'div-2 div-2'
    'div-3 div-3'
    'div-4 div-5';
    */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    display: none;
}

.feature div.div-1{
    background-image: url(../images/Domestic_cricket.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    grid-template-areas: "div-1";
    width: 45vw;
    height:30vh;
    margin:10px 10px;
    border-radius: 10px;
}
.feature div.div-2{
    background-image: url(../images/international_cricket.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    grid-template-areas: "div-2";
    width: 45vw;

    height:30vh;
    margin:10px 10px;
    border-radius: 10px;
}
.feature div.div-3{
    background-image: url(../images/Trending_cricket.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    grid-template-areas: "div-3";
    width: 45vw;

    height:30vh;
    margin:10px 10px;
    border-radius: 10px;
}
.feature div.div-4{
    background-image: url(../images/news_cricket.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    grid-template-areas: "div-4";
    width: 45vw;

    height:30vh;
    margin:10px 10px;
    border-radius: 10px;
}
.feature div.div-5{
    background-image: url(../images/score_cricket.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    grid-template-areas: "div-5";
    width: 45vw;

    height:30vh;
    margin:10px 10px;
    border-radius: 10px;
}

.feature h1{
    color: white;
    margin: 5px 5px;
    font-size: 2.5rem;
    font-family: 'Cormorant Garamond', serif;
    -webkit-text-stroke: .5px black;
    text-shadow: 0px 0px 10px black;
    font-weight: bold;
    
}

.feature p{
    color: white;
    margin: 5px 5px;
    font-size: 1.5rem;
    font-family:'Cormorant Garamond', serif;
    text-shadow: 0px 0px 5px white;
}

.feature a{
    text-decoration: none;
}

.feature div.div-1:hover{
    box-shadow: 0px 0px 30px black;
    /* mask-border-outset: 1px solid grey; */
}
.feature div.div-2:hover{
    box-shadow: 0px 0px 30px black;
}
.feature div.div-3:hover{
    box-shadow: 0px 0px 30px black;
}
.feature div.div-4:hover{
    box-shadow: 0px 0px 30px black;
}
.feature div.div-5:hover{
    box-shadow: 0px 0px 30px black;
}

.matches{
    display: flex;
    align-items:center;
    justify-content:space-evenly;
    flex-wrap: wrap;

    /* display: grid;
    grid-area: 'trending trending'
    'score live'
    'international live'
    'domestic live'; */
}

.matches h1{
font-size: 2rem;
color:coral;
padding: 10px 25px;
display: inline-block;
-webkit-text-stroke: .75px coral;
    text-shadow: 0px 0px 10px grey;
}

.matches h1:hover{
    text-decoration: underline;

}

.matches div.trending{
    width: 100vw;
    height: 40vh;
    margin: 10px 0px;
    /* background-color: turquoise; */
    grid-template-areas: "trending";
    border-top: 2.5px solid coral;
    border-bottom: 2.5px solid coral;
}

.matches div.live{
    width: 50vw;
    height: 150vh;
    margin: 10px;

    /* background-color: violet; */
    grid-template-areas: "live";

}

.matches div.score{
    width: 50vw;
    height: 50vh;
    /* background-color: yellow; */
    grid-template-areas: "score";
    margin: 10px;
    /* border: 2.5px solid coral; */

}

.matches div.international{
    width: 50vw;
    height: 50vh;
    /* background-color:blueviolet; */
    grid-template-areas: "international";
    margin: 10px;

}

.matches div.domestic{
    width: 50vw;
    height: 50vh;
    /* background-color:pink; */
    grid-template-areas: "domestic";
    margin: 10px;

}

.matches div.matches1{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.matches div.matches1 div.matches3 div.score{
    border-bottom: 2.5px solid coral;
}
.matches div.matches1 div.matches3 div.international{
    border-bottom: 2.5px solid coral;
}
.matches div.matches1 div.matches3 div.domestic{
    border-bottom: 2.5px solid coral;
}
.matches div.matches1 div.matches3 div.score div.matchbox{
    display: flex;
    flex-wrap: wrap;
    justify-content:stretch;
    align-items:center;
}
.matches div.matches1 div.matches3 div.score div.matchbox div.box{
    background-color: coral;
    height: 15vh;
    width: 15vw;
    text-align: center;
    border-radius: 10px;
    padding: 10px 10px;
    margin: 10px 10px;

}
.matches div.matches1 div.matches3 div.score div.matchbox div.box p{
    font-weight: bold;

    
}
.matches div.matches1 div.matches3 div.score div.matchbox div.box p.lower{
    margin-top: 10px;
    color: green;
}

.matches div.matches1 div.matches3 div.score div.matchbox div.box p.lives{
    color: red;
    text-decoration: underline;
    font-weight: bold;
    animation: live 1s ease-in 0s infinite;
}

@keyframes live {
    from{
        text-decoration: none;
    }
}

.matches div.trending div.container{
display: flex;
align-items: center;
justify-content: space-between;
}

.matches div.trending div.container div.tour{
    /* background-color: blue; */
    height: 22vh;
    width: 25vw;
    margin: 5px 5px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 5px black;
}


.matches div.trending div.container div#one{
    background-image: url(../images/Trending_cricket.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.matches div.trending div.container div#two{
    background-image: url(../images/womens_cricket.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.matches div.trending div.container div#three{
    background-image: url(../images/India-vs-New-Zealand_759_cricket.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.matches div.trending div.container div#four{
    background-image: url(../images/ashes_cricket.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.matches div.trending div.container div.tour p.head{
    text-align: center;
    font-size: 2rem;
    color: whitesmoke;
    -webkit-text-stroke: .75px black;
    text-shadow: 0px 0px 10px black;
    font-weight: bold;
}
.matches div.trending div.container div.tour:hover{
    border-left: 10px solid coral;
    border-right: 10px solid coral;
}
.matches div.matches1 div.matches3 div.international div.int{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.matches div.matches1 div.matches3 div.international div.int div.box{
    height: 15vh;
    width: 15vw;
    background-color: coral;
    margin: 15px 5px;
    padding: 10px 10px;
    border-radius: 10px;
    /* text-align: center; */

}
.matches div.matches1 div.matches3 div.international div.int div.box span{
    color: black;
    font-size: .75rem;
}
.matches div.matches1 div.matches3 div.international div.int div.box p.upper11{
    font-size: 1rem;
    font-weight: bold;
}
.matches div.matches1 div.matches3 div.international div.int div.box p.upper21{
    font-size: 1rem;
    font-weight: bold;
}
.matches div.matches1 div.matches3 div.international div.int div.box p.lower1{
    font-weight: lighter;
    font-size: .9rem;
}



.matches div.matches1 div.matches3 div.domestic div.dom{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.matches div.matches1 div.matches3 div.domestic div.dom div.box{
    height: 15vh;
    width: 15vw;
    background-color: coral;
    margin: 15px 5px;
    padding: 10px 10px;
    border-radius: 10px;
    /* text-align: center; */

}
.matches div.matches1 div.matches3 div.domestic div.dom div.box span{
    color: black;
    font-size: .75rem;
}
.matches div.matches1 div.matches3 div.domestic div.dom div.box p.upper11{
    font-size: 1rem;
    font-weight: bold;
}
.matches div.matches1 div.matches3 div.domestic div.dom div.box p.upper21{
    font-size: 1rem;
    font-weight: bold;
}
.matches div.matches1 div.matches3 div.domestic div.dom div.box p.lower1{
    font-weight: lighter;
    font-size: .9rem;
}
.matches div.matches1 div.matches2{
    border-left: 2.5px solid coral;
    border-bottom: 2.5px solid coral;
}
.matches div.matches1 div.matches2 div.live div.news ul{
    list-style: none;
}
.matches div.matches1 div.matches2 div.live div.news ul li.item{
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 15px 15px;
}
.matches div.matches1 div.matches2 div.live div.news ul li.item:hover{
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}
.matches div.matches1 div.matches2 div.live div.news ul li.item img{
    height: 25vh;
    width: 20vw;
    border-radius: 10px;
    margin-right: 10px;
}
.matches div.matches1 div.matches2 div.live div.news ul li.item  a{
    color: blue;
    font-size: 1.2rem;
    margin-top: 10px;
}
.matches div.matches1 div.matches2 div.live div.news ul li.item  a:hover{
    text-decoration: underline;
    font-weight: bold;
    /* color: black; */
}
@media screen and (max-width: 1000px){
    .banner p{
        font-size: 60px;
    }
    .middle span{
        font-size: 20px;
    }
    .matches h1{
        font-size: 30px
    }
    .matches div.trending div.container div.tour p.head{
        font-size: 25px;
    }
    .matches div.matches1 div.matches3 div.score div.matchbox div.box p{
        font-weight: normal;
        font-size: x-small;
    }
    .matches div.matches1 div.matches3 div.score div.matchbox div.box{
        height: 14vh;
        width: 14vw;
    }
} 
@media  screen and (max-width: 700px) {
    .banner p{
        font-size: 40px;
    }
    .middle span{
        font-size: 15px;
    }
    .matches h1{
        font-size: 20px;
    }
    .matches div.trending div.container div.tour p.head{
        font-size: 20px;
    }
    .matches div.matches1 div.matches3 div.score div.matchbox div.box p{
        font-weight: normal;
        font-size: x-small;
    }
    .matches div.matches1 div.matches3 div.score div.matchbox div.box{
        height: 13vh;
        width: 13vw;
    }
}