*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-bar{
    background-color:lightgrey;
    margin: 10px 10px;
    /* font-variant: small-caps; */
}
.nav-bar ul{
    display: flex;
    align-items: center;
    justify-content: left;
    flex-direction: row;
}

.nav-bar ul li{
    margin: 10px;
    padding: 10px;
    list-style: none;
    font-size: 1.75em;
}

.nav-bar ul li a{
    text-decoration:none;
    color: black;
    position: relative;

}
.nav-bar ul li a:hover{
    color: lightcoral;

}
.nav-bar ul li a::after{
    content:  '';
    display: block;
    width: 0;
    height: 2px;
    position: absolute;
    left:0;
    background-color: lightcoral    ;
    transition: .3s
}
.nav-bar ul li a:hover::after{
    width: 100%;
}
.nav-bar ul li i{
    text-decoration: none;
    color: yellow;

}

.banner{
    background-image: url(../images/cricket_banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 20px 10px;
    border-radius: 10px;
    font-family: 'Noto Serif', serif;
    
}

.banner p{
    font-size: 100px;
    color: white;
    margin: 10px 10px;
    text-shadow: 10px 10px 12px black;
    /* -webkit-text-stroke: 2px black; */
    
}
.banner p.secondary{
    font-size: 2.5rem;
    color: black;
    
}

.middle{
    background-color: rgb(8, 5, 39);
    color: white;
    display: flex;
    align-items: center;
    height: 20vh;
    justify-content: center;
    font-size: 2rem;
    text-align: center;
    /* border: 2px solid black; */
    -webkit-text-stroke: .5px grey;
    /* text-shadow: 5px 5px 5px grey; */
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin: 10px 10px;
    padding: 10px 10px;
    font-family: 'Noto Serif', serif;
}
.feature{
    /* display: grid;
    grid-template: 'div-1 div-1 div-2'
    'div-2 div-2'
    'div-3 div-3'
    'div-4 div-5';
    */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.feature div.div-1{
    background-image: url(../images/Domestic_cricket.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    grid-template-areas: "div-1";
    width: 45vw;
    height:30vh;
    margin:10px 10px;
    border-radius: 10px;
}
.feature div.div-2{
    background-image: url(../images/international_cricket.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    grid-template-areas: "div-2";
    width: 45vw;

    height:30vh;
    margin:10px 10px;
    border-radius: 10px;
}
.feature div.div-3{
    background-image: url(../images/Trending_cricket.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    grid-template-areas: "div-3";
    width: 45vw;

    height:30vh;
    margin:10px 10px;
    border-radius: 10px;
}
.feature div.div-4{
    background-image: url(../images/news_cricket.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    grid-template-areas: "div-4";
    width: 45vw;

    height:30vh;
    margin:10px 10px;
    border-radius: 10px;
}
.feature div.div-5{
    background-image: url(../images/score_cricket.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    grid-template-areas: "div-5";
    width: 45vw;

    height:30vh;
    margin:10px 10px;
    border-radius: 10px;
}

.feature h1{
    color: white;
    margin: 5px 5px;
    font-size: 2.5rem;
    font-family: 'Cormorant Garamond', serif;
    -webkit-text-stroke: .5px black;
    text-shadow: 0px 0px 10px black;
    font-weight: bold;
    
}

.feature p{
    color: white;
    margin: 5px 5px;
    font-size: 1.5rem;
    font-family:'Cormorant Garamond', serif;
    text-shadow: 0px 0px 5px white;
}

.feature a{
    text-decoration: none;
}

.feature div.div-1:hover{
    box-shadow: 0px 0px 30px black;
    /* mask-border-outset: 1px solid grey; */
}
.feature div.div-2:hover{
    box-shadow: 0px 0px 30px black;
}
.feature div.div-3:hover{
    box-shadow: 0px 0px 30px black;
}
.feature div.div-4:hover{
    box-shadow: 0px 0px 30px black;
}
.feature div.div-5:hover{
    box-shadow: 0px 0px 30px black;
}

