* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}
.container{
  width: 100%;
  padding: 15px;
  margin: 0px auto;
}

.home{
  padding-top: 15px;
}
@media only screen and (max-width: 1000px){
  p{
      font-size: 25px;

  }
  span{
      font-size: 25px;
  }
  #menu li a{
      font-size: 15px;
      padding: 0px 10px;
  }
  
}


.home {
    text-align: center;
}
.home img {
    width: 80%;
    height: 100vh;
}
#teams {
    background-color: indianred;
}
.teams-A {
    display: inline-flex;
    text-align: center;
}
.teams-A img {
    margin: 28px;
    margin-top: 15px;
}
.teams-B {
    display: inline-flex;
    text-align: center;
}
.teams-B img {
    margin: 30px;
    margin-top: 15px;
}
#schedule h1{
    text-align: center;
}
#schedule img{
    width: 100%;
}
#olympics h1{
    text-align: center;
}
#olympics {
    text-align: center;
}
#contact h1{
    text-align: center;
}

#news h1{
    text-align: center;
}
#news img {
    width: 100%;
}
